<section class="qualification section" id="qualification">
    <h2 data-heading="Estudios y Experiencia" class="section__title">Educación & Experiencia</h2>

    <div class="qualification__container container grid">
        <div class="education">
            <h3 class="qualification__title">
                <i class="uil uil-graduation-cap"></i> Educación
            </h3>

            <div class="timeline">
                
                <div class="timeline__item">
                    <div class="circle__dot"></div>
                    <h3 class="timeline__title">Atlantic International University (Honolulu, USA)</h3>
                    <p class="timeline__text">Systems Engineering</p>
                    <span class="timeline__date"><i class="uil uil-calendar-alt"></i> 2017 - 2018</span>
                </div>
                
                <div class="timeline__item">
                    <div class="circle__dot"></div>
                    <h3 class="timeline__title">Inst. Laprida (San Juan, Argentina)</h3>
                    <p class="timeline__text">Analista de Sistemas</p>
                    <span class="timeline__date"><i class="uil uil-calendar-alt"></i> 2013 - 2015</span>
                </div>
                
                <div class="timeline__item">
                    <div class="circle__dot"></div>
                    <h3 class="timeline__title">Inst. Laprida (San Juan, Argentina)</h3>
                    <p class="timeline__text">Analista-Programador</p>
                    <span class="timeline__date"><i class="uil uil-calendar-alt"></i> 2011 - 2013</span>
                </div>
            </div>
        </div>

        <div class="experience">
            <h3 class="qualification__title">
                <i class="uil uil-suitcase"></i> Experiencia
            </h3>

            <div class="timeline">
                
                <div class="timeline__item">
                    <div class="circle__dot"></div>
                    <h3 class="timeline__title">Accusys (Buenos Aires, Argentina)</h3>
                    <p class="timeline__text">Developer jr.</p>
                    <span class="timeline__date"><i class="uil uil-calendar-alt"></i> 2021 - 2022</span>
                </div>
                
                <div class="timeline__item">
                    <div class="circle__dot"></div>
                    <h3 class="timeline__title">BHP (San Juan, Argentina)</h3>
                    <p class="timeline__text">Developer jr.</p>
                    <span class="timeline__date"><i class="uil uil-calendar-alt"></i> 2020 - 2021</span>
                </div>
                
                <div class="timeline__item">
                    <div class="circle__dot"></div>
                    <h3 class="timeline__title">TICNIA (San Juan, Argentina)</h3>
                    <p class="timeline__text">Developer Ssr.</p>
                    <span class="timeline__date"><i class="uil uil-calendar-alt"></i> 2015 - 2020</span>
                </div>
            </div>
        </div>
    </div>
</section>