<section class="work section" id="work">
    <h2 data-heading="Portfolio" class="section__title">Trabajos Recientes</h2>

    <div class="work__filters">
        <span class="work__item active-work" data-filter="all">All</span>
        <span class="work__item" data-filter=".web">Web</span>
        <span class="work__item" data-filter=".app">App</span>
        <span class="work__item" data-filter=".design">Design</span>
    </div>

    <div class="work__container container grid">
        <div class="work__card mix web">
            <img src="assets/img/work-1.webp" alt="" class="work__img">
            <h3 class="work__title">Web Design</h3>
            <span class="work__button">Demo
                <i class="uil uil-arrow-right work__button-icon"></i>
            </span>
            <div class="portfolio__item-details">
                <h3 class="details__title">The services provide for design</h3>
                <p class="details__description">Lorem ipsum dolor sit amet consectetur, adipisicing 
                elit. Corporis molestias qui nostrum?</p>
                <ul class="details__info">
                    <li>Created - <span>4 dec 2020</span></li>
                    <li>Technologies - <span>HTML5 CSS3</span></li>
                    <li>Role - <span>frontend</span></li>
                    <li>View - <span><a href="#">https://www.domain.com</a></span></li>
                </ul>
            </div>
        </div>

        <div class="work__card mix app">
            <img src="assets/img/work-2.webp" alt="" class="work__img">
            <h3 class="work__title">App Design</h3>
            <span class="work__button">Demo
                <i class="uil uil-arrow-right work__button-icon"></i>
            </span>
            <div class="portfolio__item-details">
                <h3 class="details__title">Mobile app landing design & app maintain</h3>
                <p class="details__description">Lorem ipsum dolor sit amet consectetur, adipisicing 
                elit. Corporis molestias qui nostrum?</p>
                <ul class="details__info">
                    <li>Created - <span>4 dec 2020</span></li>
                    <li>Technologies - <span>HTML5 CSS3</span></li>
                    <li>Role - <span>frontend</span></li>
                    <li>View - <span><a href="#">https://www.domain.com</a></span></li>
                </ul>
            </div>
        </div>

        <div class="work__card mix design">
            <img src="assets/img/work-3.webp" alt="" class="work__img">
            <h3 class="work__title">Branding Design</h3>
            <span class="work__button">Demo
                <i class="uil uil-arrow-right work__button-icon"></i>
            </span>
            <div class="portfolio__item-details">
                <h3 class="details__title">Logo design creativity & application</h3>
                <p class="details__description">Lorem ipsum dolor sit amet consectetur, adipisicing 
                elit. Corporis molestias qui nostrum?</p>
                <ul class="details__info">
                    <li>Created - <span>4 dec 2020</span></li>
                    <li>Technologies - <span>HTML5 CSS3</span></li>
                    <li>Role - <span>frontend</span></li>
                    <li>View - <span><a href="#">https://www.domain.com</a></span></li>
                </ul>
            </div>
        </div>

        <div class="work__card mix app">
            <img src="assets/img/work-4.webp" alt="" class="work__img">
            <h3 class="work__title">App Design</h3>
            <span class="work__button">Demo
                <i class="uil uil-arrow-right work__button-icon"></i>
            </span>
            <div class="portfolio__item-details">
                <h3 class="details__title">Mobile app landing design & services</h3>
                <p class="details__description">Lorem ipsum dolor sit amet consectetur, adipisicing 
                elit. Corporis molestias qui nostrum?</p>
                <ul class="details__info">
                    <li>Created - <span>4 dec 2020</span></li>
                    <li>Technologies - <span>HTML5 CSS3</span></li>
                    <li>Role - <span>frontend</span></li>
                    <li>View - <span><a href="#">https://www.domain.com</a></span></li>
                </ul>
            </div>
        </div>

        <div class="work__card mix web">
            <img src="assets/img/work-5.webp" alt="" class="work__img">
            <h3 class="work__title">Brnad Design</h3>
            <span class="work__button">Demo
                <i class="uil uil-arrow-right work__button-icon"></i>
            </span>
            <div class="portfolio__item-details">
                <h3 class="details__title">Design for technology & services</h3>
                <p class="details__description">Lorem ipsum dolor sit amet consectetur, adipisicing 
                elit. Corporis molestias qui nostrum?</p>
                <ul class="details__info">
                    <li>Created - <span>4 dec 2020</span></li>
                    <li>Technologies - <span>HTML5 CSS3</span></li>
                    <li>Role - <span>frontend</span></li>
                    <li>View - <span><a href="#">https://www.domain.com</a></span></li>
                </ul>
            </div>
        </div>

        <div class="work__card mix design">
            <img src="assets/img/work-6.webp" alt="" class="work__img">
            <h3 class="work__title">Web Design</h3>
            <span class="work__button">Demo
                <i class="uil uil-arrow-right work__button-icon"></i>
            </span>
            <div class="portfolio__item-details">
                <h3 class="details__title">App for technology & services</h3>
                <p class="details__description">Lorem ipsum dolor sit amet consectetur, adipisicing 
                elit. Corporis molestias qui nostrum?</p>
                <ul class="details__info">
                    <li>Created - <span>4 dec 2020</span></li>
                    <li>Technologies - <span>HTML5 CSS3</span></li>
                    <li>Role - <span>frontend</span></li>
                    <li>View - <span><a href="#">https://www.domain.com</a></span></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="portfolio__popup" id="portfolio">
        <div class="portfolio__popup-inner">
            <div class="portfolio__popup-content grid">
                <span class="portfolio__popup-close"><i class="uil uil-times"></i></span>
                <div class="pp__thumbnail">
                    <img src="assets/img/work-2.webp" alt="" class="portfolio__popup-img">
                </div>
                <div class="portfolio__popup-info">
                    <div class="portfolio__popup-subtitle">Featured - <span>Design</span></div>
                    <div class="portfolio__popup-body">
                        <h3 class="details__title">App de tecnología & servicios</h3>
                        <p class="details__description">Lorem ipsum dolor sit amet consectetur, adipisicing 
                        elit. Corporis molestias qui nostrum?</p>
                        <ul class="details__info">
                            <li>Created - <span>4 dec 2020</span></li>
                            <li>Technologies - <span>HTML5 & CSS3</span></li>
                            <li>Role - <span>frontend</span></li>
                            <li>View - <span><a href="#">https://www.domain.com</a></span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>