<section class="contact__section" id="contact">
    <h2 data-heading="Ponte en contacto" class="section__title">Contáctame</h2>

    <div class="contact__container container grid">
        <div class="contact__content">
            <div class="contact__info">
                <div class="contact__card">
                    <i class="uil uil-envelope-edit contact__card-icon"></i>
                    <h3 class="contact__card-title">Email</h3>
                    <span class="contact__card-data">user@gmail.com</span>
                    <span class="contact__button">
                        Escríbeme <i class="uil uil-arrow-right contact__button-icon"></i>
                    </span>
                </div>

                <div class="contact__card">
                    <i class="uil uil-whatsapp contact__card-icon"></i>
                    <h3 class="contact__card-title">Whatsapp</h3>
                    <span class="contact__card-data">999-888-777</span>
                    <span class="contact__button">
                        Escríbeme <i class="uil uil-arrow-right contact__button-icon"></i>
                    </span>
                </div>

                <div class="contact__card">
                    <i class="uil uil-facebook-messenger-alt contact__card-icon"></i>
                    <h3 class="contact__card-title">Messenger</h3>
                    <span class="contact__card-data">user.fb123</span>
                    <span class="contact__button">
                        Escríbeme <i class="uil uil-arrow-right contact__button-icon"></i>
                    </span>
                </div>
            </div>
        </div>

        <div class="contact__content">
            <form action="https://formsubmit.co/maurifl@gmail.com" method="POST" class="contact__form">
                <div class="input__container">
                    <input type="text" name="name" class="input" required>
                    <label for="">Nombre & Apellido</label>
                    <span>Nombre & Apellido</span>
                </div>

                <div class="input__container">
                    <input type="email" name="email" class="input" required>
                    <label for="">Email</label>
                    <span>Email</span>
                </div>

                <div class="input__container">
                    <input type="tel" name="subject" class="input" required>
                    <label for="">Asunto</label>
                    <span>Asunto</span>
                </div>

                <div class="input__container textarea">
                    <textarea name="comments" cols="15" rows="5" class="input" required></textarea>
                    <label for="">Mensaje</label>
                    <span>Mensaje</span>
                </div>

                <button type="submit" class="button"><i class="uil uil-navigator button-icon"></i>
                    Enviar
                </button>

                <input type="hidden" name="_next" value="http://localhost:4200">
                <input type="hidden" name="_captcha" value="false">
            </form>
        </div>
    </div>
</section>