<section class="about section" id="about">
    <h2 data-heading="Mi Intro" class="section__title">Conóceme</h2>

    <div class="about__container container grid">
        <img src="assets/img/about-img.png" alt="" class="about__img">

        <div class="about__data">
            <h3 class="about__heading">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
            <p class="about__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil vero non id 
                tempora, qui facilis, ipsum exercitationem quasi odit nisi architecto!</p>
            <div class="about__info grid">
                <div class="about__box">
                    <i class="uil uil-award about__icon"></i>
                    <h3 class="about__title">Experiencia</h3>
                    <span class="about__subtitle">8 + Años</span>
                </div>

                <div class="about__box">
                    <i class="uil uil-suitcase-alt about__icon"></i>
                    <h3 class="about__title">Terminados</h3>
                    <span class="about__subtitle">48 + Proyectos</span>
                </div>
                
                <div class="about__box">
                    <i class="uil uil-headphones-alt about__icon"></i>
                    <h3 class="about__title">Soporte</h3>
                    <span class="about__subtitle">Online 24/7</span>
                </div>
            </div>
            <a href="#contact" class="button"><i class="uil uil-navigator buuton__icon"></i>
                Contacto
            </a>
        </div>
    </div>
</section>